################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoggerAdapterDemo/WeatherAPI/obj
/LoggerAdapterDemo/WeatherAPI/bin
/LoggerAdapterDemo/LoggerAdapter/bin
/LoggerAdapterDemo/LoggerAdapter/obj